/* デフォルトスタイのリセット */
* {
  /*font-size: 100%;*/
  font-style: normal;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0px;
  padding: 0px;
}

a:link,
a:visited {
  color: #333;
}
a:hover {
  color: #333;
}

html {
  height: 100%;
  overflow-y: scroll;
}

#all:after　 {
  /*カラム落ち対策*/
  　　　clear: both;
  　　　content: "";
  　　　display: block;
}

body {
  height: 100%;
  background-image: url(../images/repeat-bg.jpg);
  margin: 0px;
  padding: 0px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #c1c1a5;
}
header {
  height: 50px;
  margin: 0;
  padding: 5px 10px;
  background: url(../images/header-bg.png) repeat-x;
}
div.container {
  clear: both;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
}

div.left-column {
  width: 530px;
  float: left;
}

div.right-column {
  width: 588px;
  float: right;
}
h2 {
  clear: both;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #5d5c56;
  text-transform: uppercase;
  margin: 20px 0px;
  border-bottom: 1px solid #5d5c56;
}

a.wbp-small {
  margin: 0px 3px 15px 3px;
}

/* ボタンデザイン */

a.wbp-small {
  display: block;
  float: left;
  width: 92px;
  height: 35px;
  color: #feffff;
  text-decoration: none;
  font: bold 13px/35px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: #919191 0 1px 0;
  text-align: center;
  background: url(../images/wbp-slice.png) no-repeat -495px -220px;
}
a.wbp-small:hover,
a.wbp-small.hover {
  background-position: -495px -256px;
}
a.wbp-small.blue {
  background-position: -495px -220px;
}
a.wbp-small.blue:hover,
a.wbp-small.blue.hover {
  background-position: -495px -256px;
}
a.wbp-small.green {
  background-position: -590px -220px;
}
a.wbp-small.green:hover,
a.wbp-small.green.hover {
  background-position: -590px -256px;
}
a.wbp-small.red {
  background-position: -685px -220px;
}
a.wbp-small.red:hover,
a.wbp-small.red.hover {
  background-position: -685px -256px;
}
a.wbp-small.yellow {
  background-position: -780px -220px;
}
a.wbp-small.yellow:hover,
a.wbp-small.yellow.hover {
  background-position: -780px -256px;
}
a.wbp-small.grey {
  background-position: -875px -220px;
}
a.wbp-small.grey:hover,
a.wbp-small.grey.hover {
  background-position: -875px -256px;
}
a.wbp-small.brown {
  background-position: -970px -220px;
}
a.wbp-small.brown:hover,
a.wbp-small.brown.hover {
  background-position: -970px -256px;
}

#progress {
  height: 2%;
  background: #444;
  bottom: 0;
  z-index: 200;
}
#bg1,
#bg2,
#bg3 {
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg1.png) repeat 0 0;
}
#bg2 {
  z-index: 49;
  background-image: url(../images/bg2.png);
}
#turnboard {
  width: 60%;
  left: 50%;
  top: 1em;
  margin-left: -30%;
  padding: 2em;
  background: #fff;
  text-align: center;
  z-index: 105;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#revarsal {
  width: 70%;
  left: 50%;
  top: 20%;
  margin-left: -35%;
  text-align: center;
  font-size: 150%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#expander {
  height: 100%;
  padding-top: 10%;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#slidetoleft {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#slidetoright {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#turncanvas {
  width: 100%;
  height: 100%;
}
#turncolorsize {
  top: 10%;
  left: 30%;
  width: 50%;
  z-index: 101;
}
#finish {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 2026年1月6日　以下、スマホ対応にするため加筆　ここから */
/* --- 修正版：スマホ専用のレスポンシブ設定 --- */

/* 1. 共通設定（skrollr用） */
/* パソコン・スマホ両方でパララックスを動かすために必要 */
#turnboard,
#revarsal,
#expander,
#slidetoleft,
#slidetoright,
#turncolorsize,
#finish {
  position: fixed;
}

/* 2. スマホ向け（画面幅 768px 以下）の設定 */
@media screen and (max-width: 768px) {
  /* スマホの時は画像を画面幅いっぱいに許可し、中央寄せにする */
  img {
    max-width: 80% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
  }

  /* 回転ボード：中身を中央寄せにし、幅を整える */
  #turnboard {
    width: 90% !important;
    left: 5% !important;     /* 画面の左端から5%の位置に配置 */
    margin-left: 0 !important; /* 計算を単純化するためマージンをリセット */
    text-align: center !important;
    padding: 1em !important;
    display: flex;
    flex-direction: column;
    align-items: center;    /* 子要素（画像）を中央に */
  }

  /* 反転要素：画像と文字を中央に */
  #revarsal {
    width: 90% !important;
    left: 5% !important;     /* 画面中央にくるように調整 */
    margin-left: 0 !important;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;    /* 子要素（画像）を中央に */
  }

  /* 画像そのものがズレないように設定 */
  #turnboard img, 
  #revarsal img {
    margin: 0 auto !important;
    display: block !important;

  /* 下から出てくるパンくんの最大サイズをスマホ用に制限 */
  #expander img {
    max-width: 80% !important;
  }

  /* 文字サイズと位置の微調整 */
  #turncolorsize {
    left: 5% !important;
    width: 90% !important;
    top: 20% !important;
    text-align: center;
  }

  /* ヘッダーの調整 */
  header {
    height: auto !important;
  }
  /* 1. ヘッダー全体の高さを自動調整し、余裕を持たせる */
  header {
    height: auto !important;
    padding: 20px 10px !important;
    background-size: cover;
  }

  /* 2. 見出しの文字サイズをスマホで見やすく大きくする */
  header h1 {
    font-size: 22px !important;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #fff; /* 背景で見えにくい場合は色を調整 */
  }

  header h2 {
    font-size: 16px !important;
    border: none !important; /* 下線を消してスッキリさせる */
    color: #eee !important;
  }

  /* 3. 「どんどん下に〜」のメッセージに上下の余白を作る */
  /* headerの直後にあるdivを特定して調整 */
  header + div h3 {
    font-size: 18px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    color: #ffeb3b; /* スクロールを促すため目立つ色に */
    text-shadow: 1px 1px 2px #000;
  }

  /* 4. 進捗バー（プログレスバー）を少し太くして見やすくする */
  #progress {
    height: 5px !important;
  }
}

/* 3. パソコン向け（画面幅 769px 以上）の微調整 */
@media screen and (min-width: 769px) {
  /* パソコンでパンくんがデカすぎるのを防ぐためのブレーキ */
  #expander img {
    max-width: 300px !important;
  }
}
/* 2026年1月6日　以下、スマホ対応にするため加筆　ここまで */
