body
{
	background:#3e83c8
}
.bg
{
	width:100%;
	height:100%;
}
.bg1
{
	background: url(../images/bg2.png) repeat 0 bottom;
}
.bg2
{
	background: url(../images/bg1.png) repeat 0 bottom;
}
.bg3
{
	background: url(../images/topslide01.png) no-repeat;
	background-position: center center;
}
