@charset "utf-8";

/* 画像ホバー時エフェクト用 */
.view:hover .s1{
	transform: translate3d(0px,0,0) rotate3d(0,1,0,0deg);
	-webkit-transform: translate3d(0px,0,0) rotate3d(0,1,0,0deg);
	-moz-transform: translate3d(0px,0,0) rotate3d(0,1,0,0deg);
	-o-transform: translate3d(0px,0,0) rotate3d(0,1,0,0deg);
	-ms-transform: translate3d(0px,0,0) rotate3d(0,1,0,0deg);
}
.view:hover .s2{
	transform: translate3d(60px,0,0) rotate3d(0,1,0,-45deg);
	-webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-45deg);
	-moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-45deg);
	-o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-45deg);
	-ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-45deg);
}
.view:hover .s3{
	transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-o-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
}
.view:hover .s4{
	transform: translate3d(60px,0,0) rotate3d(0,1,0,-90deg);
	-webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-90deg);
	-moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-90deg);
	-o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-90deg);
	-ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-90deg);
}
.view:hover .s5{
	transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-o-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
	-ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,90deg);
}

/* 画像エフェクト用 */
.view {
	width: 316px;
	height: 216px;
	margin: 10px;
	float: left;
	position: relative;
	border: 8px solid #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	background: #333;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.view div.view-back{
	width: 28%;
	height: 100%;
	position: absolute;
	right: 0;
	background: #333;
	z-index: 0;
}

.view .slice{
	width: 60px;
	height: 100%;
	z-index: 100;
	background-image: url('../images/sample.jpg');

	-webkit-transition-duration:300ms;
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-duration:300ms;
	-moz-transition-timing-function:ease-in-out;
	-o-transition-duration:300ms;
	-o-transition-timing-function:ease-in-out;
	-ms-transition-duration:300ms;
	-ms-transition-timing-function:ease-in-out;
	transition-duration:300ms;
	transition-timing-function:ease-in-out;

	background-size:300px 100%;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;

}

.view .s2, 
.view .s3, 
.view .s4, 
.view .s5 {
	-webkit-transform: translate3d(60px,0,0);
	-moz-transform: translate3d(60px,0,0);
	-o-transform: translate3d(60px,0,0);
	-ms-transform: translate3d(60px,0,0);
	transform: translate3d(60px,0,0);
}
.view .s1 {
	background-position: 0px 0px;
}
.view .s2 {
	background-position: -60px 0px;
}
.view .s3 {
	background-position: -120px 0px;
}
.view .s4 {
	background-position: -180px 0px;
}
.view .s5 {
	background-position: -240px 0px;
}

.view .overlay {
	width: 60px;
	height: 100%;
	opacity: 0;
	position: absolute;

	transition-property:all;
	-webkit-transition-duration:300ms;
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-duration:300ms;
	-moz-transition-timing-function:ease-in-out;
	-o-transition-duration:300ms;
	-o-transition-timing-function:ease-in-out;
	-ms-transition-duration:300ms;
	-ms-transition-timing-function:ease-in-out;
	transition-duration:300ms;
	transition-timing-function:ease-in-out;

}

.view:hover .overlay {
	opacity: 1;
}

.view .s1 > .overlay {
	background: -moz-linear-gradient(right, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
}

.view .s2 > .overlay {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.view .s3 > .overlay {
	background: -moz-linear-gradient(right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%);
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
	background: -o-linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
	background: -ms-linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
	background: linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
}

.view .s4 > .overlay {
	background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
}

.view .s5 > .overlay {
	background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.navigater {
	font-size: 8px;
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	text-transform: uppercase;
}

