/* デフォルトスタイのリセット */
* {
  /*font-size: 100%;*/
  font-style: normal;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,h7,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0px;padding: 0px;
}

a:link, a:visited { color: #333; }
a:hover { color: #333; }

html {
  height: 100%;
  overflow-y: scroll;
}

#all:after　{ /*カラム落ち対策*/
　　　clear:　both;
　　　content:"";
　　　display:　block;
}

body { background-image: url(../images/repeat-bg.jpg); margin: 0px; padding: 0px; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; color: #c1c1a5; }
header {
  height: 50px;
  margin:0;
  padding:5px 10px;
  background: url(../images/header-bg.png) repeat-x;
}
div.container {
  clear: both;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
}

div.left-column {
  width: 530px;
  float: left;
}

div.right-column {
  width: 588px;
  float: right;
}
h2 {
  clear: both;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #5d5c56;
  text-transform: uppercase;
  margin: 20px 0px;
  border-bottom: 1px solid #5d5c56;

}

a.wbp-small {
  margin: 0px 3px 15px 3px;
}





/* ボタンデザイン */

a.wbp-small {
  display: block;
  float: left;
  width: 92px;
  height: 35px;
  color: #feffff;
  text-decoration: none;
  font: bold 13px/35px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: #919191 0 1px 0;
  text-align: center;
  background: url(../images/wbp-slice.png) no-repeat -495px -220px;
}
a.wbp-small:hover, a.wbp-small.hover {background-position: -495px -256px;}
a.wbp-small.blue {background-position: -495px -220px;}
a.wbp-small.blue:hover, a.wbp-small.blue.hover {background-position: -495px -256px;}
a.wbp-small.green {background-position: -590px -220px;}
a.wbp-small.green:hover, a.wbp-small.green.hover {background-position: -590px -256px;}
a.wbp-small.red {background-position: -685px -220px;}
a.wbp-small.red:hover, a.wbp-small.red.hover {background-position: -685px -256px;}
a.wbp-small.yellow {background-position: -780px -220px;}
a.wbp-small.yellow:hover, a.wbp-small.yellow.hover {background-position: -780px -256px;}
a.wbp-small.grey {background-position: -875px -220px;}
a.wbp-small.grey:hover, a.wbp-small.grey.hover {background-position: -875px -256px;}
a.wbp-small.brown {background-position: -970px -220px;}
a.wbp-small.brown:hover, a.wbp-small.brown.hover {background-position: -970px -256px;}


#opensociales {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  border: 5px solid #fff;
  background: url(../images/share_core_square.jpg);
}


/*.smedia {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: top 14.35s cubic-bezier(0.1,0.8,0.9,1), left 0.35s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
  -webkit-transition: top 14.35s cubic-bezier(0.1,0.8,0.9,1), left 0.35s cubic-bezier(0.1,0.8,0.9,1), opacity 0.5s linear;
}*/

/* ソーシャルメディアボタンのラベル */
/*.smedia span {
  position: absolute;
  left: 0px;
  opacity: 0;
  font-size: 14px;
  line-height: 46px;
  text-decoration: none;
  color: #101010;
}
#opensociales .smedia:nth-child(1) span {
  transition: left 0.35s ease-out 0.1s, opacity 0.3s ease-in 0.1s;
  -webkit-transition: left 0.35s ease-out 0.1s, opacity 0.3s ease-in 0.1s;
}
#opensociales .smedia:nth-child(2) span {
  transition: left 0.35s ease-out 0.15s, opacity 0.3s ease-in 0.15s;
  -webkit-transition: left 0.3s ease-out 0.15s, opacity 0.3s ease-in 0.15s;
}
#opensociales .smedia:nth-child(3) span {
  transition: left 0.35s ease-out 0.2s, opacity 0.3s ease-in 0.2s;
  -webkit-transition: left 0.3s ease-out 0.2s, opacity 0.3s ease-in 0.2s;
}
#opensociales .smedia:nth-child(4) span {
  transition: left 0.35s ease-out 0.25s, opacity 0.3s ease-in 0.25s;
  -webkit-transition: left 0.3s ease-out 0.25s, opacity 0.3s ease-in 0.25s;
}
#opensociales .smedia:nth-child(5) span {
  transition: left 0.35s ease-out 0.3s, opacity 0.3s ease-in 0.3s;
  -webkit-transition: left 0.3s ease-out 0.3s, opacity 0.3s ease-in 0.3s;
}
#opensociales .smedia:nth-child(6) span {
  transition: left 0.35s ease-out 0.35s, opacity 0.3s ease-in 0.35s;
  -webkit-transition: left 0.3s ease-out 0.35s, opacity 0.3s ease-in 0.35s;
}*/

/* #opensociales ボタンクリック時の状態 */
/*#opensociales.opened .smedia span {
  position: absolute;
  opacity: 1;
  left: 55px;
}
#opensociales.opened .smedia {
  opacity: 1;
}
#opensociales.opened .smedia:nth-child(1) {
  position: absolute;
  top: 55px;
  left: 65px;
}
#opensociales.opened .smedia:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 110px;
}
#opensociales.opened .smedia:nth-child(3) {
  position: absolute;
  top: 145px;
  left: 155px;
}
#opensociales.opened .smedia:nth-child(4) {
  position: absolute;
  top: 190px;
  left: 200px;
}
#opensociales.opened .smedia:nth-child(5) {
  position: absolute;
  top: 235px;
  left: 245px;
}
#opensociales.opened .smedia:nth-child(6) {
  position: absolute;
  top: 280px;
  left: 290px;
}*/

/* ソーシャルメディアボタンの画像 */
/*.smedia.facebook {
    background: url(../images/bubble_facebook_share_button.png);
}
.smedia.twitter {
    background: url(../images/bubble_twitter_share_button.png);
}
.smedia.email {
    background: url(../images/bubble_email_share_button.png);
}
.smedia.instagram {
    background: url(../images/bubble_instagram_share_button.png);
}
.smedia.youtube {
    background: url(../images/bubble_youtube_share_button.png);
}
.smedia.vimeo {
    background: url(../images/bubble_vimeo_share_button.png);
}
.smedia:hover {
    background-position: 0 -46px;
}*/
